body {
    background-image: url('blackwhite.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.text-container {
    background-color: white;
    padding: 100px;
    border-radius: 200px;
	height: 2000px;
}

h1 {
    font-size: 50px;
    color: #444;
	
}

a {
    text-decoration: none;
    color: #0074d9;
}

a:hover {
    color: #000000;
}

p {
    margin: 10px 0 20px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 20px 50px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.dropdown {
    position: absolute;
    top: 80px;
    right: 10px;
    display: none;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
}

.dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

.profile-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}


.info-section.left {
    width: 45%;
}


.info-section.right {
    width: 45%;
}


.info-section h2 {
    font-size: 16px;
    color: #444;
}

.info-section textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 
.form-group label {
    color: #333;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-group button,
.form-group a.button {
    background-color: #0074d9;
    color: #fff;
}


.profile-image {
    width: 60px;
    height: 60px;
}


.profile-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


